<template>
  <circle
    v-bind="$attrs"
    class="circle"
    :class="{ selected: circle.isSelected }"
    :cx="circle.position.x"
    :cy="circle.position.y"
  />
</template>

<script lang="ts" setup>
import { defineProps } from 'vue'
import Circle from '@/models/Circle'

const props = defineProps({
  circle: Circle
})
</script>

<style lang="scss" scoped>
.circle {
  cursor: pointer;
  transition: all 0.2s ease-in-out;
  fill: white;
  r: 6;

  &.selected {
    stroke-width: 2;
    stroke: #eb0d0d;
    r: 10;
  }

  &:hover {
    stroke-width: 1;
    r: 12;
    stroke: #eb0d0d
  }
}
</style>
