<template>
  <line
    :x1="sourceCircle.position.x"
    :y1="sourceCircle.position.y"
    :x2="targetCircle.position.x"
    :y2="targetCircle.position.y"
    class="line"
  />
</template>

<script lang="ts" setup>
import Line from '@/models/Line'
import { defineProps, computed } from 'vue'

const props = defineProps({
  line: Line
})

const sourceCircle = computed(() =>
  props.line?.source?.shape.attachedCircles?.find((attachedCircle) =>
    attachedCircle.id === props.line?.source?.circle.id
  ))

const targetCircle = computed(() =>
  props.line?.target?.shape.attachedCircles?.find((attachedCircle) =>
    attachedCircle.id === props.line?.target?.circle.id
  ))

</script>

<style lang="scss" scoped>
.line {
  opacity: 0.6;
  stroke: white;
  stroke-width: 10;
}
</style>
