<template>
  <defs>
    <linearGradient
      :id="`gradient-${shape?.id}`"
      x1="0%" y1="0%" x2="100%" y2="100%"
    >
      <stop v-memo offset="5%" :stop-color="stateColor.firstColor" />
      <stop v-memo offset="95%" :stop-color="stateColor.secondColor" />
    </linearGradient>
  </defs>
  <rect
    v-bind="$attrs"
    class="shape active-element"
    :class="{ moving: shape.isMoving, selected: shape.isSelected && !shape.isMoving }"
    :x="shape.position.x"
    :y="shape.position.y"
    :width="shape.width"
    :height="shape.height"
    rx="6"
    ry="6"
  />
  <template v-if="displayCircles">
    <circle-component
      v-for="circle in shape.attachedCircles"
      class="active-element"
      :key="circle.id"
      :circle="circle"
      @click="handleCircleClick(circle)"
    />
  </template>
</template>

<script lang="ts" setup>
import Shape from '@/models/Shape'
import { computed, defineEmits, defineProps, PropType, ref, watch } from 'vue'
import CircleComponent from '@/components/CircleComponent.vue'
import Circle from '@/models/Circle'
import Line from '@/models/Line'

const props = defineProps({
  shape: { type: Shape, required: true },
  linesCollection: { type: Set as PropType<Set<Line>>, required: true }
})

const emit = defineEmits(['circle-click'])

const offsetColor = ref(100 + Math.random() * 100)
const rangeColor = ref(Math.random() * 100)

const hasLine = computed(() => {
  if (props.linesCollection.size === 0) {
    return false
  }

  let hasLine = false

  props.linesCollection.forEach((line) => {
    if (line.target?.shape.id === props.shape.id || line.source?.shape.id === props.shape.id) {
      hasLine = true
    }
  })

  return hasLine
})

const displayCircles = computed(() =>
  !props.shape.isMoving && (props.shape.isSelected || hasLine.value)
)

const randomColor = (opacity = 1) => {
  const r = () => Math.floor(offsetColor.value + (Math.random() * 256 - rangeColor.value))
  return `rgb(${r()} ,${r()} , ${r()}, ${opacity})`
}

const stateColor = ({
  firstColor: randomColor(),
  secondColor: randomColor(0.6)
})

const handleCircleClick = (circle: Circle) => {
  emit('circle-click', circle)
}

const gradientId = ref(`url(#gradient-${props.shape.id})`)

watch(() => props.shape.position, () => {
  props.shape.calculateCircles()
}, { deep: true, immediate: true })

</script>

<style lang="scss" scoped>
.shape {
  fill: v-bind(gradientId);
  cursor: pointer;
  border-radius: 10px;

  &.moving {
    stroke: #eb0d0d;
    stroke-width: 3px;
    cursor: grabbing;
  }

  &.selected {
    stroke: #0d14eb;
  }
}
</style>
