<template>
  <div class='tooltip' :data-tooltip='content'>
    <slot />
  </div>
</template>

<script lang="ts" setup>
import { defineProps } from 'vue'

const props = defineProps({
  content: String
})
</script>

<style lang="scss" scoped>
.tooltip {
  position: relative;
  width: fit-content;

  &:after {
    content:"";
    opacity: 0;
    transition: opacity 125ms ease-in;
  }

  &:hover:after{
    position: absolute;
    opacity: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    left: -50%;
    top: -80%;
    max-height: 10px;
    font-weight: 700;
    line-height: 1.2;
    background: #000;
    border-radius: 4px;
    color: #fff;
    content: attr(data-tooltip);
    font-size: 16px;
    padding: 12px;
    white-space: nowrap
  }
}

</style>
