<template>
  <main class="main-container" @click="unselectAll">
    <svg ref="svgContainer" height="95%" width="95%" @pointermove="onMouseMove">
      <line-component
        v-for="line in state.linesCollection"
        :line="line"
        :key="line.id"
      />
      <shape-component
        v-for="shape in state.shapesCollection"
        :key="shape.id"
        :shape="shape"
        :linesCollection="state.linesCollection"
        @pointerdown="(e) => onMouseDown(shape, e)"
        @pointerup="onMouseUp"
        @click="selectShape(shape)"
        @circle-click="onCircleClick(shape, $event)"
      />
    </svg>
    <action-bar
      @click-on-square="addShape"
    />
  </main>
</template>

<script lang="ts" setup>
import { reactive, ref } from 'vue'
import Shape from '@/models/Shape'
import Line from '@/models/Line'
import LineComponent from '@/components/LineComponent.vue'
import ShapeComponent from '@/components/ShapeComponent.vue'
import ActionBar from '@/components/ActionBar/ActionBar.vue'
import useMovement from '@/hooks/useMovement'
import Circle from '@/models/Circle'

const state = reactive({
  shapesCollection: new Set<Shape>(),
  linesCollection: new Set<Line>(),
  selectedShape: new Shape(),
  newLine: new Line()
})

const svgContainerRef = ref<HTMLElement>(document.createElement('svg'))

const { onMouseDown, onMouseMove, onMouseUp } = useMovement(
  svgContainerRef,
  state
)

const selectShape = (shape: Shape) => {
  state.selectedShape = shape
  shape.isSelected = !shape.isSelected
}

const addShape = () => {
  state.shapesCollection.add(new Shape())
}

const onCircleClick = (shape: Shape, circle: Circle) => {
  state.shapesCollection.forEach((shapeInCollection) => { // Remove all other circle selection
    // eslint-disable-next-line no-unused-expressions
    shapeInCollection.attachedCircles?.forEach((attachedCircle) => {
      if (attachedCircle.id === circle.id) {
        attachedCircle.isSelected = !attachedCircle.isSelected // Toggle the clicked circle

        if (attachedCircle.isSelected) {
          switch (true) {
            case (!state.newLine.hasSource()): // Line has nos source shape
              state.newLine.setSource({ shape, circle })
              break
            case (state.newLine.hasSource() && state.newLine.source?.shape.id === shape.id): // Line has sourceShape and Click on an other circle but in same shape
              state.newLine.setSource({ shape, circle })
              break
            case (state.newLine.hasSource() && state.newLine.source?.shape.id !== shape.id): // Line has sourceShape and Click on an other circle in other shape
              state.newLine.setTarget({ shape, circle })
              state.linesCollection.add(state.newLine)
              state.newLine = new Line()

              // eslint-disable-next-line no-unused-expressions
              shape.attachedCircles?.forEach((attachedCircle) => { // Remove all circle selected in shape
                attachedCircle.isSelected = false
              })
              break
          }
        } else {
          state.newLine = new Line() // Reset the line creation if circle is unselect
        }
      } else {
        attachedCircle.isSelected = false
      }
    })
  })
}

const unselectAll = (event: PointerEvent & { target: HTMLElement }) => {
  if (event.target.classList.contains('active-element')) {
    return
  }

  state.shapesCollection.forEach(shape => { shape.isSelected = false })
}
</script>

<style>
body {
  margin: 0;
}
</style>

<style lang="scss" scoped>
.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: #1b2232;

  svg {
    border-radius: 8px;
  }

  button {
    margin-top: 10px;
  }
}
</style>
