<template>
  <div class="action-bar__container">
    <tooltip content="Ajouter un carré">
      <button class="action-bar__button" @click="addShape">
        <img :src="squareImg" />
      </button>
    </tooltip>
  </div>
</template>

<script lang="ts" setup>
import { defineEmits } from 'vue'
import squareImg from '@/assets/square.png'
import Tooltip from '@/components/Common/Tooltip.vue'

const emit = defineEmits(['click-on-square'])

const addShape = () => {
  emit('click-on-square')
}
</script>

<style lang="scss" scoped>
.action-bar {
  &__container {
    border-radius: 10px;
    padding: 10px;
    background: #0c1b36;
    margin-bottom: 10px;
  }

  &__button {
    border: none;
    padding: 10px;
    background: #0c1b36;
    cursor: pointer
  }
}
</style>
